server.port = {{ SPRINGBOOT_PORT }}

spring.datasource.url = jdbc:postgresql://appdb1.{{ DOMAIN_NAME }}:{{ POSTGRES_PORT }}/{{ DATABASE_NAME }}
spring.datasource.username = {{ DATABASE_USER }}
spring.datasource.password = {{ DATABASE_PASSWORD }}

# JPA/Hibernate properties
spring.jpa.show-sql = true

# Hibernate ddl auto (create, create-drop, update): with "update" the database
# schema will be automatically updated accordingly to java entities found in project
spring.jpa.hibernate.ddl-auto = update

spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.naming.strategy = org.hibernate.cfg.ImprovedNamingStrategy
